<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
    <meta charset="UTF-8">
    <title> Film </title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#"> MovieStats </a>
        <a class="navbar-brand" href="#"> Home </a>
        <div id="input_search" style="display : flex ; flex-direction : row; transform : translate(650px, 0px)">
            <input id="inputMovie" class="form-control mr-sm-2" placeholder="Movie" style="width:300px">
            <button id="searchButton" class="btn btn-success"> Search </button>
        </div>
    </nav>
    <div class="mx-3" style="transform:translate(0px,70px)">
        <h1><strong> Inception </strong></h1>
        <div id="imageEtInfos" class="row mt-3">
            <div class="col-4 text-center">
                <img class="img-fluid" src="https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_SX300.jpg">
            </div>
            <div class="col-8 my-auto">
                <div>
                    <div class="row">
                        <strong> Ann&eacutee de sortie : &nbsp </strong>
                        <p> 2010 </p>
                    </div>
                    <div class="row">
                        <strong> Acteurs principaux : &nbsp </strong>
                        <p> Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen Page, Tom Hardy </p>
                    </div>
                    <div class="row">
                        <strong> R&eacutealisateur : &nbsp </strong>
                        <p> Christopher Nolan </p>
                    </div>
                    <div class="row">
                        <strong> Genre : &nbsp </strong>
                        <p> Action, Aventure, Science-fiction, Thriller </p>
                    </div>
                    <div class="row">
                        <strong> Dur&eacutee : &nbsp </strong>
                        <p> 148 min </p>
                    </div>
                    <div class="row">
                        <strong> Prix : &nbsp </strong>
                        <p> 4 Oscars, 152 victoires, 217 nominations </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <p class="text-justify"> <strong> Description : &nbsp </strong> Inception ou Origine au Québec et au Nouveau-Brunswick,
                est un thriller de science-fiction américano-britannique écrit, réalisé et produit par
                Christopher Nolan, sorti en 2010. Il met en scène Ellen Page, Ken Watanabe, Joseph Gordon-Levitt,
                Marion Cotillard et Leonardo DiCaprio. Celui-ci interprète un « extracteur », un voleur qui subtilise
                des informations sensibles dans un contexte d'espionnage industriel en infiltrant le subconscient
                de ses cibles au cours d'un « rêve partagé ». Alors qu'il est recherché par la police américaine,
                on lui offre une chance de retrouver son ancienne vie en échange d'un travail considéré comme
                impossible : l'« inception ». À l'inverse de l’extraction, il s'agit de l'implantation d'une idée
                étrangère dans le subconscient d'un sujet qui la considérera à son réveil comme étant l'une des siennes.
                Sorti deux ans après le grand succès de The Dark Knight du même réalisateur, le film voit
                le jour grâce à la réputation de celui-ci : les sociétés de production Warner Bros. et
                Legendary Pictures lui octroient un budget de 160 millions de dollars, sans compter 100
                millions dévolus à la promotion du film. Inception reçoit un accueil positif, les critiques
                ayant salué particulièrement son originalité, son casting, sa musique et ses effets visuels.
                Il rapporte plus de 800 millions de dollars, le classant dans les quarante plus gros succès
                au box-office mondial. Le film remporte quatre Oscars, dont celui de la meilleure
                photographie, et il est nommé à ceux du meilleur film et du meilleur scénario original. </p>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="http://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
<script src="http://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
</html>
